.pt {
    padding-top: 60px;
}

.left-title {
    letter-spacing: -0.2px;
    color: #0460A9;
    margin-bottom: 30px;
}

.card-with-image {
    border: none;
    text-align: center;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.card-with-image .link-wrapper {
    display: flex;
    gap: 6;
}

.card-with-image h4 {
    letter-spacing: -0.2px;
    color: #0460A9;
    margin: 17px 0;
}

.card-with-image p {
    color: #414042;
    flex-grow: 1;
    margin-bottom: 17px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.card-with-image .link-wrapper {
    display: flex;
    gap: 6px;
    margin-left: auto;
    margin-right: auto;
}

.card-with-image .link-wrapper a {
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    padding: 14px 20px;
    background-color: #0460A9;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 991px) {
    .card-with-image {
        padding-bottom: 30px;
    }

    .left-title {
        text-align: left;
    }

    .pt {
        padding-top: 30px;
    }

    .card-with-image img {
        width: 100%;
    }
}