.faq {
    padding-bottom: 52px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 213, 0, 0.30) 100%);
}

/* .faq .container {
    padding: 0;
} */

.accordion-item {
    background-color: #fff;
    border: 2px solid #0460A9;
    border-radius: 20px !important;
    margin-bottom: 30px;
}

.accordion-item:first-of-type .accordion-header {
    border: none;
}

.accordion-header {
    margin-bottom: 0;
    /* border-top: 2px solid #0460A9; */
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.accordion-body {
    padding: 0 30px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #414042;
}

.accordion-body ul {
    list-style: disc;
}

.accordion-body ul li span {
    color: #FF00B8;
}