.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}

.navbar-left {
	padding: 19px 0 23.7px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	z-index: 10;
	position: relative;
}

.navbar-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.top-header {
	padding-bottom: 18px;
	margin-left: 50px;
	display: flex;
}

.header .overlay {
	position: absolute;
	right: 0;
	background-color: #0460a9;
	width: 50%;
	height: 59.167px;
	bottom: 0;
	z-index: 1;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.nav-item img {
	position: relative;
	top: -10px;
	left: 5px;
}

.nav {
	position: relative;
}

.bottom-header .main-list {
	display: flex;
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
	background-color: #0460A9;
	padding: 15px 0 0 21px;
	border-radius: 100px 0px 0px 100px;
}

.bottom-header .main-list .nav-item:nth-child(5) a {
	display: inline-block;
	padding-top: 10px;
}

.bottom-header .main-list .nav-item:nth-child(1) a {
	max-width: 88px;
}
.bottom-header .main-list .nav-item:nth-child(6) a {
	max-width: 82px;
}
.bottom-header .main-list .nav-item:nth-child(4) a {
	max-width: 63.5px;
}

.bottom-header .main-list .nav-item {
	position: relative;
	border-right: 1px solid #fff;
	padding: 0 20px 15px 20px;
	cursor: pointer;
	line-height: 1;
	text-align: center;
}

.has-content {
	position: absolute;
	list-style-type: none;
	width: 100%;
	height: auto;
	background: #FFE773;
	top: 3.9rem;
	left: 0rem;
	padding: 12px 15px;
	display: none;
	transition: all ease-in 300ms;
}

.has-content .child-item {
	padding-bottom: 12px;
	border-bottom: 1px solid #0460A9;
	text-align: center;
	cursor: pointer;
}

.has-content .child-item:last-child {
	padding-bottom: 0;
	border-bottom: unset
}

.has-content .child-item a {
	font-size: 12px;
	line-height: 112%;
	letter-spacing: 0.25px;
}

.nav-item:hover>.has-content {
	display: block;
}

.bottom-header a {
	font-size: 13px;
	font-weight: 500;
	line-height: 112%;
	color: #fff;
	text-decoration: none;
	max-width: 54px;
	display: flex;
}

.bottom-header a:hover {
	color: #fff;
}

.bottom-header .main-list .nav-item:last-of-type {
	padding-left: 15px;
}

.bottom-header .main-list .nav-item:last-of-type {
	margin-right: 20px;
}

.bottom-header .button {
	padding: 0px 20px;
	border-radius: 20px;
	border: 2px solid #fff;
	background-color: #fff;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
	height: 40px;
	color: #0460A9;
	margin-top: -2px;
	display: flex;
	align-items: center;
	max-width: none;
}

.bottom-header .button:hover {
	color: #0460A9;
}

.top-header a {
	font-size: 10px;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.1px;
	text-decoration-line: underline !important;
	text-transform: uppercase;
	color: #0460A9 !important;
	margin-right: 40px;
	cursor: pointer;
}

.top-header a:last-child {
	margin-right: 0;
}

.nav-item:hover img {
	transform: rotate(-180deg);
}

@media (max-width: 991px) {
	.main-menu {
		height: calc(100% - 5rem);
		left: 0;
		position: fixed;
		top: 6rem;
		transform: scaleY(0);
		transform-origin: top;
		transition: .3s ease-in-out;
		width: 100%;
		z-index: 99;
		background: #006BB1;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 0 30px 34px 30px;
	}

	.active-menu {
		height: 100%;
		position: fixed;
		width: 100%;
		overflow-y: hidden;
	}

	.main-menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.main-menu ul li {
		padding: 15px 30px;
		border-bottom: 1px solid #fff;
		margin: 0 -30px;
	}

	.main-menu ul li a {
		font-size: 20px;
		font-weight: 600;
		line-height: 110%;
		text-decoration: none;
		color: #fff;
	}

	.bottom-links-wrapper {
		background-color: transparent;
		margin: 0 -30px;
		padding: 0 30px 26px 30px;
	}

	.navbar-left {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.right-link {
		display: flex;
		flex-direction: column;
	}

	.right-link a {
		font-size: 11px;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #0460A9;
	}


	.hamburger-menu {
		margin-left: auto;
		margin-top: 16px;
		cursor: pointer;
	}

	.hamburger-menu span {
		background-color: #0460A9;
		display: block;
		height: 4px;
		margin-bottom: 7px;
		transition: all .3s ease-in-out;
		width: 37px;
		border-radius: 5px;
	}

	.main-menu .button {
		margin-top: 15px;
		border-radius: 15px;
		border: 2px solid #fff;
		background: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 110%;
		text-transform: uppercase;
		width: 100%;
		padding: 14px 0;
		color: #0460A9;
		display: block;
		text-align: center;
		text-decoration: none;
	}

	.main-menu .button:hover {
		color: #0460A9;
	}

	.bottom-links {
		margin-top: 22px;
		display: flex;
		flex-direction: column;
	}

	.bottom-links a {
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 110%;
		text-decoration-line: underline !important;
		padding-bottom: 15px;
		color: #fff !important;
		cursor: pointer;
	}

	.bottom-links a:last-child {
		padding-bottom: 0;
	}

	.hamburger-menu.active span:nth-child(1) {
		transform: translateY(13.5px) rotate(45deg);
	}

	.hamburger-menu.active span:nth-child(2) {
		opacity: 0;
	}

	.hamburger-menu.active span:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.hamburger-menu span:last-child {
		margin-bottom: 0;
	}

	.has-child {
		background: #FFE773;
		width: 120%;
		height: auto;
		margin-top: 15px !important;
		margin-left: -30px !important;
		margin-right: -30px !important;
		padding-left: 30px !important;
	}

	.child-item {
		padding-left: 30px !important;
	}

	.child-item a {
		font-weight: 400 !important;
	}

	.child-item .main-menu ul li a {
		font-weight: 400;
	}

	.child-item:last-of-type {
		border-bottom: none;
	}

	.nav-item-mob.add-arrow {
		position: relative;
		cursor: pointer;
	}

	.nav-item-mob.add-arrow.rotate-arrow {
		padding-bottom: 0;
	}

	.nav-item-mob .has-child {
		display: none;
	}

	.nav-item-mob.rotate-arrow .has-child {
		display: block;
	}

	.nav-item-mob.add-arrow::after {
		content: '';
		position: absolute;
		right: 0;
		border: solid #0460A9;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: translateY(-50%) rotate(45deg);
		top: 25px;
		transition: all ease-in 300ms;
	}

	.nav-item-mob.rotate-arrow::after {
		transform: rotate(-135deg);
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.header .overlay {
		height: 94.167px;
	}

	.top-header {
		margin-left: 40px;
	}
}